
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}
.body{
    display: block;
    background-color: #212529;
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: content-box;
}
.header{
    background:url(bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 170px;
}
.pfp{
    position: absolute;
    box-sizing: border-box;
    width: 135px;
    height: 135px;
    background: url(pepe.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    top: calc(180px - 75px);
    left: 20px;
    border: 6px solid #212529;
}
.main-body{
    padding: 0 20px 20px 20px;
}
.nama{
    margin-top: 90px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.spotify{
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
}
.on-base{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 100%;
    top: calc(180px - 100px);
    left: 90px;
    box-sizing: border-box;
    border: 7px solid #343a40;
}
.s-atas img{
    padding-top: 2px;
    width: 15px;
}
.s-atas p{
    font-weight: bold;
    font-size: 0.93rem;
    width: 96%;
}
.s-atas p, .s atas img{
    display: inline-block;
}
.s-tengah{
    margin: 10px 0;
}
.s-tengah img{
    width: 80px;
}
.s-tengah div{
    position: absolute;
    margin-left: 10px;
}
.s-tengah div, .s-tengah img{
    display: inline-block;
}
.body{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.m-kiri,.m-kanan{
    display: inline-block;
}
.m-kanan{
    text-align:right;
    width: 50%;
}
.m-kiri{
    text-align:left;
    width: 50%;
}
.bar{
    width: 100%;
    height: 6px;
    background-color: #495057;
    border-radius: 6px;
    margin-bottom: 3px;
}
.role-a{
    background-color: #343a40;
}
.role-a, .plus, .color-a, .role-a p{
    display: inline-block;
}
.color-a{
    width: 12px;
    height: 12px;
    background-color: aquamarine;
    margin: auto 5px;
    border-radius: 100%;
    margin-right: 10px;
}
.role-a p{
    align-content: center;
}
.role-a{
    padding: 5px 0;
    padding-right: 10px;
    padding-left: 4px;
    border-radius: 5px;
}
.role{
    padding: 15px 0;
}
button{
    display: block;
    margin: auto;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: unset;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #495057;
}
a{
    text-decoration: none;
}
p, a, h1, h2, button{
    color: white;
}
a:hover{
    text-decoration: underline;
}
.spotify h1{
    font-size: 1.5rem;
}
button:hover{
    background-color: #6c757d;
}
body{
    background: #040f0f;
}
.nama h2{
    font-size: 1.2rem;
    font-weight:normal;
}